<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Horizons | Team Civitas</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/img/favicon.webp" type="image/x-icon">
    <script type="module" src="../static/script.js"></script>
</head>

<body>
    <header>
        <!--Tillbaka-knapp-->
        <a href="../"><img id="tillbaka" src="../static/img/back.webp" alt="Team Civitas"></a>

        <!--Titel-->
        <img id="modpack-logotyp-i-header" src="../static/img/modpacks/civitas_create_horizons.webp" alt="Synergy">
        <h1 id="modpack-namn">CIVITAS: CREATE HORIZONS</h1>
        <p>Civitas: Create Horizons var det sista Create-baserade modpacket som spelades i Create >6.0.X och Minecraft >1.21. Civitas: Create Horizons var det första modpacket med Create: Northstar-tillägget.</p>

        <!--Spelare-->
        <div class=listor>
            <ul class="detaljer-lista">
                <h2>Spelare:</h2>
                <li><img src="https://starlightskins.lunareclipse.studio/render/default/DanteMinecraft/bust" alt="NeoForge-logotyp">
                    <a href="https://namemc.com/profile/DanteMinecraft">
                        <p id="spelare">DanteMinecraft 💎</p>
                    </a>
                </li>
                <li><img src="https://starlightskins.lunareclipse.studio/render/default/Elf_Oliver/bust" alt="Minecraft-logotyp">
                    <a href="https://namemc.com/profile/Elf_Oliver">
                        <p id="spelare">Elf_Oliver 💎</p>
                    </a>
                </li>
                <li><img src="https://starlightskins.lunareclipse.studio/render/default/Lulle2345/bust" alt="Create-logotyp">
                    <a href="https://namemc.com/profile/Lulle2345">
                        <p id="spelare">Lulle2345 💎</p>
                    </a>
                </li>
                <li><img src="https://starlightskins.lunareclipse.studio/render/default/NoobElis/bust" alt="Create-logotyp">
                    <a href="https://namemc.com/profile/NoobElis">
                        <p id="spelare">NoobElis</p>
                    </a>
                </li>
                <li><img src="https://starlightskins.lunareclipse.studio/render/default/Isac04_/bust" alt="Create-logotyp">
                    <a href="https://namemc.com/profile/Isac04_">
                        <p id="spelare">Isac04_</p>
                    </a>
                </li>
                <li><img src="https://starlightskins.lunareclipse.studio/render/default/TwitchErik71/bust" alt="Create-logotyp">
                    <a href="https://namemc.com/profile/TwitchErik71">
                        <p id="spelare">TwitchErik71</p>
                    </a>
                </li>

            </ul>

            <!--Information-->
            <ul class="detaljer-lista">
                <h2>Info:</h2>
                <li><img src="../static/img/details/forge.webp" alt="Forge-logotyp">
                    <p>Forge</p>
                </li>
                <li><img src="https://feedback.minecraft.net/hc/theming_assets/01HZH4GFS6HZFCFWQPVZT51JSB"
                        alt="Minecraft-logotyp">
                    <p>Minecraft 1.20.1</p>
                </li>
                <li><img src="https://wiki.createmod.net/create-icon-large.webp" alt="Create-logotyp">
                    <p>Create 0.5.1+</p>
                </li>
            </ul>
            <ul class="detaljer-lista">
                <h2 id="download-header">Modpack</h2>
                <li><img id="download-symbol" src="../static/img/download.webp" alt="Ladda ner">
                    <a id="file-download" href="../static/files/FILENAME" download>Create Horizons</a>
                </li>

                <h2 id="download-header">Världar</h2>
                <li><img id="download-symbol" src="../static/img/download.webp" alt="Ladda ner">
                    <p>Create Horizons</p>
                </li>
            </ul>
        </div>
    </header>

    <section class="portfolio">
        <h1>Portfolio</h1>
        <div class="portfolio-grid" id="portfolio-bilder">
        </div>
    </section>

    <!--FOOTER-->
    <footer>
        <div class="footer-detail">
            <a href="../"><img src="../static/img/modpacks/civitas_other.webp" alt="Team Civitas"></a>
        </div>
        <p>&copy; Team Civitas</p>
    </footer>

</body>

</html>