<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re-Created | Team Civitas</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/img/favicon.webp" type="image/x-icon">
    <script type="module" src="../static/script.js"></script>
</head>

<body>
    <header>
        <!--Tillbaka-knapp-->
        <a href="../"><img id="tillbaka" src="../static/img/back.webp" alt="Team Civitas"></a>

        <!--Titel-->
        <img id="modpack-logotyp-i-header" src="../static/img/modpacks/civitas_re-created.webp" alt="Synergy">
        <h1 id="modpack-namn">CIVITAS: RE-CREATED</h1>
        <p>Civitas: Re-Created var det mest populära och längst spelade modpacket i Civitashistorien. Med en tidsperiod som pågick mellan december 2023 till juli 2024 så utforskades det hur man effektivt kunde bygga upp en stor infrastruktur för passargerartrafik samt olika samhällen. Civitas: Re-Created är också det modpack med flest spelare någonsin, med ett rekord på 10 st i whitelistan.</p>

        <!--Spelare-->
        <div class=listor>
            <ul class="detaljer-lista">
                <h2>Spelare:</h2>
                <li><img src="https://starlightskins.lunareclipse.studio/render/default/DanteMinecraft/face" alt="NeoForge-logotyp">
                    <a href="https://namemc.com/profile/DanteMinecraft">
                        <p id="spelare">DanteMinecraft 💎</p>
                    </a>
                </li>
                <li><img src="https://starlightskins.lunareclipse.studio/render/default/Elf_Oliver/face" alt="Minecraft-logotyp">
                    <a href="https://namemc.com/profile/Elf_Oliver">
                        <p id="spelare">Elf_Oliver 💎</p>
                    </a>
                </li>
                <li><img src="https://starlightskins.lunareclipse.studio/render/default/Lulle2345/face" alt="Create-logotyp">
                    <a href="https://namemc.com/profile/Lulle2345">
                        <p id="spelare">Lulle2345 💎</p>
                    </a>
                </li>
                <li><img src="https://starlightskins.lunareclipse.studio/render/default/Beequid/face" alt="Create-logotyp">
                    <a href="https://namemc.com/profile/Beequid">
                        <p id="spelare">Beequid</p>
                    </a>
                </li>
                <li><img src="https://starlightskins.lunareclipse.studio/render/default/RealFemboySlayer/face" alt="Create-logotyp">
                    <a href="https://namemc.com/profile/RealFemboySlayer">
                        <p id="spelare">RealFemboySlayer</p>
                    </a>
                </li>
                <li><img src="https://starlightskins.lunareclipse.studio/render/default/robban10/face" alt="Create-logotyp">
                    <a href="https://namemc.com/profile/robban10">
                        <p id="spelare">robban10</p>
                    </a>
                </li>
                <li><img src="https://starlightskins.lunareclipse.studio/render/default/SkogisAB/face" alt="Create-logotyp">
                    <a href="https://namemc.com/profile/SkogisAB">
                        <p id="spelare">SkogisAB</p>
                    </a>
                </li>
                <li><img src="https://starlightskins.lunareclipse.studio/render/default/Sky_Rice/face" alt="Create-logotyp">
                    <a href="https://namemc.com/profile/Sky_Rice">
                        <p id="spelare">Sky_Rice</p>
                    </a>
                </li>
                <li><img src="https://starlightskins.lunareclipse.studio/render/default/Timcraft242/face" alt="Create-logotyp">
                    <a href="https://namemc.com/profile/Timcraft242">
                        <p id="spelare">Timcraft242</p>
                    </a>
                </li>
                <li><img src="https://starlightskins.lunareclipse.studio/render/default/Zcloak/face" alt="Create-logotyp">
                    <a href="https://namemc.com/profile/Zcloak">
                        <p id="spelare">Zcloak</p>
                    </a>
                </li>
                
            </ul>

            <!--Information-->
            <ul class="detaljer-lista">
                <h2>Info:</h2>
                <li><img src="../static/img/details/forge.webp" alt="Forge-logotyp">
                    <p>Forge</p>
                </li>
                <li><img src="https://fabricmc.net/assets/logo.png" alt="Fabric-logotyp">
                    <p>Fabric</p>
                </li>
                <li><img src="https://feedback.minecraft.net/hc/theming_assets/01HZH4GFS6HZFCFWQPVZT51JSB"
                        alt="Minecraft-logotyp">
                    <p>Minecraft 1.20.1</p>
                </li>
                <li><img src="https://wiki.createmod.net/create-icon-large.webp" alt="Create-logotyp">
                    <p>Create 0.5.1+</p>
                </li>
            </ul>
            <ul class="detaljer-lista">
                <h2 id="download-header">Modpack</h2>
                <li><img id="download-symbol" src="../static/img/download.webp" alt="Ladda ner">
                    <a id="file-download" href="" download>Civitas Re-Created</a>
                </li>

                <h2 id="download-header">Världar</h2>
                <li><img id="download-symbol" src="../static/img/download.webp" alt="Ladda ner">
                    <p>Re-Created | Survival</p>
                </li>
                <li><img id="download-symbol" src="../static/img/download.webp" alt="Ladda ner">
                    <p>Re-Created | Byggvärld</p>
                </li>
            </ul>
        </div>
    </header>

    <section class="portfolio">
        <h1>Portfolio</h1>
        <div class="portfolio-grid" id="portfolio-bilder">
        </div>
    </section>

    <!--FOOTER-->
    <footer>
        <div class="footer-detail">
            <a href="../"><img src="../static/img/modpacks/civitas_other.webp" alt="Team Civitas"></a>
        </div>
        <p>&copy; Team Civitas</p>
    </footer>

</body>

</html>