<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Synergy | Team Civitas</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/img/favicon.webp" type="image/x-icon">
    <script type="module" src="../static/script.js"></script>
</head>

<body>
    <header>
        <!--Tillbaka-knapp-->
        <a href="../"><img id="tillbaka" src="../static/img/back.webp" alt="Team Civitas"></a>

        <!--Titel-->
        <img src="../static/img/modpacks/civitas_synergy.webp" alt="Synergy">
        <h1 id="modpack-namn">CIVITAS: SYNERGY</h1>
        <p>Civitas Synergy är en testbänk inför ett kommande, mer seriöst, Create-modpack med Create-version 6.0.0</p>

        <!--Spelare-->
        <div class=listor>
            <ul class="detaljer-lista">
                <h2>Spelare:</h2>
                <li><img src="../static/img/players/danteminecraft.png" alt="NeoForge-logotyp">
                    <a href="https://namemc.com/profile/DanteMinecraft">
                        <p id="spelare">DanteMinecraft</p>
                    </a>
                </li>
                <li><img src="../static/img/players/Elf_Oliver.png" alt="Minecraft-logotyp">
                    <a href="https://namemc.com/profile/Elf_Oliver">
                        <p id="spelare">Elf_Oliver</p>
                    </a>
                </li>
                <li><img src="../static/img/players/joarbjorn.png" alt="Create-logotyp">
                    <a href="https://namemc.com/profile/JoarBjorn">
                        <p id="spelare">JoarBjorn</p>
                    </a>
                </li>
                <li><img src="../static/img/players/lulle2345.png" alt="Create-logotyp">
                    <a href="https://namemc.com/profile/Lulle2345">
                        <p id="spelare">Lulle2345</p>
                    </a>
                </li>

            </ul>

            <!--Information-->
            <ul class="detaljer-lista">
                <h2>Info:</h2>
                <li><img src="https://neoforged.net/img/authors/neoforged.png" alt="NeoForge-logotyp">
                    <p>NeoForge</p>
                </li>
                <li><img src="https://feedback.minecraft.net/hc/theming_assets/01HZH4GFS6HZFCFWQPVZT51JSB"
                        alt="Minecraft-logotyp">
                    <p>Minecraft 1.21.1</p>
                </li>
                <li><img src="https://wiki.createmod.net/create-icon-large.webp" alt="Create-logotyp">
                    <p>Create 6.0.0+</p>
                </li>
            </ul>
            <ul class="detaljer-lista">
                <h2 id="download-header">Modpack</h2>
                <li><img id="download-symbol" src="../static/img/download.webp" alt="Ladda ner">
                    <a id="file-download" href="../static/files/civitas_synergy_1.2.0.mrpack" download>Civitas Synergy 1.2.0</a>
                </li>

                <h2 id="download-header">Världar</h2>
                <li><img id="download-symbol" src="../static/img/download.webp" alt="Ladda ner">
                    <p>Civitas Synergy 2025</p>
                </li>
            </ul>
        </div>
    </header>

    <section class="portfolio">
        <h1>Portfolio</h1>
        <div class="portfolio-grid" id="portfolio-bilder">
        </div>
    </section>

    <!--FOOTER-->
    <footer>
        <div class="footer-detail">
            <a href="../"><img src="../static/img/modpacks/civitas_other.webp" alt="Team Civitas"></a>
        </div>
        <p>&copy; Team Civitas</p>
    </footer>

</body>

</html>