<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logotyper | Team Civitas</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='img/modpacks/civitas_main.webp') }}" type="image/webp" />
</head>

<body>

    <!-- NAVIGATION -->
    {% include 'templates/partial/navbar.html' %}

    <!--Tillbaka-knapp-->
    <a href="/logotyper" id="tillbaka">‹</a>

    <!-- MAIN CONTENT -->
    <main>
        <header class="header-content">
            <h1 class="margin-above-title" class="margin-beneath-description">OFFICIELLA TEAM CIVITAS-LOGOTYPER</h1>
        </header>

        <section>
            <div class="center-cards">
                <div class="cards">

                    <div class="card" id="direktnedladdning">
                        <a href="{{ url_for('static', filename='img/logotypes/team-civitas/Team Civitas Sleek.png') }}"
                            download><img draggable="false"
                                src="{{ url_for('static', filename='img/logotypes/team-civitas/Team Civitas Sleek.png') }}">
                            <span class="download-icon"><img src="{{ url_for('static', filename='img/download.webp') }}"
                                    alt="Nedladdningsikon"></span></a>
                    </div>
                    <div class="card" id="direktnedladdning">
                        <a href="{{ url_for('static', filename='img/logotypes/team-civitas/Team Civitas 2025 Cut.png') }}"
                            download><img draggable="false"
                                src="{{ url_for('static', filename='img/logotypes/team-civitas/Team Civitas 2025 Cut.png') }}">
                            <span class="download-icon"><img src="{{ url_for('static', filename='img/download.webp') }}"
                                    alt="Nedladdningsikon"></span></a>
                    </div>
                    <div class="card" id="direktnedladdning">
                        <a href="{{ url_for('static', filename='img/logotypes/team-civitas/Team Civitas 2025.png') }}"
                            download><img draggable="false"
                                src="{{ url_for('static', filename='img/logotypes/team-civitas/Team Civitas 2025.png') }}">
                            <span class="download-icon"><img src="{{ url_for('static', filename='img/download.webp') }}"
                                    alt="Nedladdningsikon"></span></a>
                    </div>
                    <div class="card" id="direktnedladdning">
                        <a href="{{ url_for('static', filename='img/logotypes/team-civitas/Team Civitas Sleek Black.png') }}"
                            download><img draggable="false"
                                src="{{ url_for('static', filename='img/logotypes/team-civitas/Team Civitas Sleek Black.png') }}">
                            <span class="download-icon"><img src="{{ url_for('static', filename='img/download.webp') }}"
                                    alt="Nedladdningsikon"></span></a>
                    </div>

                </div>
            </div>
        </section>

    </main>

    <!-- FOOTER -->
    {% include 'templates/partial/footer.html' %}

</body>

</html>