<!DOCTYPE html>
<html lang="sv">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hem | Team Civitas</title>

        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/styles2.css') }}" />
        <script defer
            src="{{ url_for('static', filename='background-rotator.js') }}"></script>
        <link rel="icon"
            href="{{ url_for('static', filename='img/modpacks/civitas_main.webp') }}"
            type="image/webp" />
    </head>

    <body>

        <!-- NAVIGATION -->
        {% include 'templates/partial/navbar.html' %}

        <!-- MAIN CONTENT -->
        <main>
            <section class="background-image">
                <header class="header-content" id="background-image">
                    <div class="dark-overlay">
                        <div class="above-overlay">
                            <img
                                src="{{ url_for('static', filename='img/logotypes/team-civitas/Team Civitas Sleek Cut.png') }}"
                                alt="Team Civitas logotyp" draggable="false" />
                            <h1>Team Civitas</h1>
                            <p>Välkommen till Team Civitas</p>
                        </div>
                    </div>
                </header>
            </section>
            <section class="featured-content">
                <div class="featured-modpacks">
                    <h2>Utvalda Modpacks</h2>
                    <div class="modpack-list">
                        <div class="modpack-card">
                            <a href="/modpacks/overdrive">
                                <img
                                    src="{{ url_for('static', filename='img/modpacks/civitas_overdrive.webp') }}"
                                    alt="Civitas: Overdrive" />
                                <div class="border-top">
                                    <h3>Civitas: Overdrive</h3>
                                    <p>Startdatum: Sommaren 2025</p>
                                </div>
                            </a>
                        </div>
                        <div class="modpack-card">
                            <a href="/modpacks/recreated">
                                <img
                                    src="{{ url_for('static', filename='img/modpacks/civitas_re-created.webp') }}"
                                    alt="Civitas: Re-Created" />
                                <div class="border-top">
                                    <h3>Civitas: Re-Created</h3>
                                    <p>2023-12 – 2024-07</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </section>
        </main>

        <!-- FOOTER -->
        {% include 'templates/partial/footer.html' %}

    </body>

</html>
