/*=================IMPORTS=================*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lexend:wght@100..900&family=Nabla&display=swap');

/*=========================================*/

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--background-color);

    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

main {
    flex: 1;
}

/*================VARIABLES================*/

:root {
    --white: #fff;
    --background-color: #12171a; /*Ny*/
    --card-bg: #00000095; /*Ny*/
    --card-bg-hover: #70707050;
    --highlight-color: #41BFFF;
    --border-radius: 15px;

    /*Tilfälligt borttagna:*/
    /*--background-color: #0D1114;*/
    /*--card-bg: #00000090;*/
}

/*================GLOBAL================*/

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--highlight-color);
}

h1 {
    font-size: 36px;
}

h1,
h2 {
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 1vh;
}


h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

/*Default margins*/

.margin-above-title {
    margin-top: 2vh;
}

.margin-beneath-description {
    margin-bottom: 2vh;
}

/*Default hover features*/
.modpack-card:hover,
.card:hover {
    background-color: var(--card-bg-hover);
    transition: ease-in-out 0.15s;
}

.modpack-card a:hover,
.card a:hover {
    color: var(--white);
}

/*Display flex row*/
.display-flex-row {
    display: flex;
    flex-direction: row;
}

/*================NAVBAR================*/

.navbar {
    background-color: var(--card-bg);
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.font-size-in-navbar a {
    font-size: 18px;
}

#navbar-logo-img {
    width: 50px;
    height: 50px;
}

.navbar-links {
    display: none;
    gap: 20px;

    list-style: none;
}

.navbar-dropdown-toggle {
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-right: 1vw;
}

.navbar-dropdown-toggle img {
    width: 35px;
    height: 35px;
}

/*Dropdown menu (overlapping main)*/
/**/
/**/
/**/
/**/
/**/

/*Tillbakaknapp*/
#tillbaka {
    position: absolute;
    top: 5vh;
    left: 0.75vw;
    text-align: left;
    font-size: 80px;
}

/*================FOOTER================*/

.footer-brand {
    background-color: var(--card-bg);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-brand img {
    width: 80px;
    height: 80px;

    padding-top: 2vh;
}

/*==========================================================*/
/*                       LANDING PAGE                       */
/*==========================================================*/

/*================HEADER================*/

#background-image {
    background-image: url('/static/img/black.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 75vh;
}

.header-content img {
    width: 250px;
    height: 250px;
}

.dark-overlay {
    width: 100%;
    height: 100%;
    background-color: #00000080;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

/*================FEATURED CONTENT================*/

.featured-modpacks {
    text-align: center;
    margin: 5vh 0;
}

.modpack-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.modpack-card {
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
    width: 300px;
}

.modpack-card img {
    width: 90%;
    padding: 5%;
}

.border-top {
    border-top: #fff solid 2px;
}

/*==========================================================*/
/*                     BROWSE MODPACKS                      */
/*==========================================================*/

.header-content {
    text-align: center;
}

/*================CARDS================*/

.center-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
    max-width: 1000px;
    text-align: center;
    margin: 0 60px;
    margin-bottom: 60px;
}

.card img {
    width: 100%;
}

/*Cards => Modpack Page*/
.card {
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
    border-radius: 20px;
    padding: 5%;
}

/*Card mimics => Modpack Page*/
#modpack-mimic {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none
}

#modpack-mimic:hover {
    background-color: var(--card-bg) !important;
}

/*==========================================================*/
/*                 INDIVIDUAL MODPACK PAGE                  */
/*==========================================================*/

/*Individual Modpack Lists*/
.ind-modpack-listor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    max-width: 1200px;
    text-align: center;
    margin: 0 60px;
    margin-bottom: 60px;
}

.ind-modpack-listor .card {
    background-color: var(--card-bg) !important;
}

.ind-modpack-listor .card ul li a:hover, .highlight-override:hover {
    color : var(--highlight-color) !important;
}

.text-align-left {
    text-align: left;
}

.card-lista li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5vh 0;
}

.card-lista img {
    width: 30px;
}

#download-symbol {
    width: 30px;
}

/*Portfolio*/
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 60px;
}

.portfolio-grid img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    transition: ease-in-out 0.15s;
}

.portfolio-grid img:hover {
    filter: brightness(1.15);
    transform: scale(1.025);
    transition: ease-in-out 0.15s;
}

/*Portfolio-Popup*/
#imagepopup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    justify-content: center;
    align-items: center;
}

.popup-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    z-index: 998;
}

.popup-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: white;
    cursor: pointer;
    user-select: none;
    padding: 0 20px;
    z-index: 999;
}

.popup-arrow-left {
    left: 10px;
}

.popup-arrow-right {
    right: 10px;
}

/*==========================================================*/
/*              LOGOTYPES DOWNLOAD PROPERTIES               */
/*==========================================================*/

/*Download Button Properties*/

#direktnedladdning {
    position: relative;
}

.download-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    filter: drop-shadow(0 0 0.75rem var(--card-bg));
}

#direktnedladdning:hover .download-icon {
    opacity: 1;
}

/*================MEDIA QUERIES================*/

/*Tablet*/
@media (min-width: 768px) {

    .cards,
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .modpack-card {
        width: 400px;
    }
}

/*Desktop*/
@media (min-width: 1025px) {

    .cards,
    .portfolio-grid,
    .ind-modpack-listor {
        grid-template-columns: repeat(3, 1fr);
    }

    .navbar-links {
        display: flex;
    }

    .modpack-list {
        flex-direction: row;
    }

    #modpack-mimic {
        display: flex;
    }
}