@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lexend:wght@100..900&family=Nabla&display=swap');

:root {
  --white: #fff;
  --background-color: #0D1114;
  --card-bg: #00000090;
  --card-bg-hover: #70707050;
  --highlight-color: #00ffff;
  --border-muted: #00000090;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
}

body {
  background-color: var(--background-color);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: auto auto 5vh;
}

h1, .modpack h2, .modpack p, .modpack-inforuta, header p, footer p, ul h2, li p {
  color: var(--white);
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
  text-align: center;
}

header p, footer p {
  text-align: center;
  max-width: 100%;
}

header img {
  width: 20%;
}

#modpack-logotyp-i-header {
  margin: 2vh 0;
}

.civitas-other-wrapper {
  display: contents;
}

#tillbaka {
  position: fixed;
  top: 2.5vh;
  left: 2.5vw;
  text-align: left;
  font-size: 80px;
}

.modpack-cards, .ovrigt-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 60px;
  max-width: 1000px;
  text-align: center;
  margin: 0 8vw;
}

.modpack, .modpack-mimic, .kort, .kort-rött {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  border-radius: 20px;
  padding: 5%;
  transition: ease-in-out 0.15s;
}

.modpack-mimic h1 {
  user-select: none;
}

#mimic-1, #mimic-2 {
  display: none;
}

.modpack:hover, .kort:hover {
  background-color: var(--card-bg-hover);
}

.kort-rött:hover {
  background-color: #2c0000;
  cursor: not-allowed;
}

.modpack-inforuta {
  border-top: solid 2px var(--white);
}

.modpack img, .kort img, .kort-rött img {
  width: 100%;
  margin-bottom: 1vh;
}

.modpack h2 {
  margin: 1vh 0;
}

.modpack-mimic {
  justify-content: center;
  align-items: center;
}

.sektioner {
  margin-top: 10vh;
  text-align: center;
  background-color: var(--card-bg);
  padding: 2vh 0;
  transition: ease-in-out 0.15s;
}

.sektioner:hover {
  background-color: var(--card-bg-hover);
}

.sektioner img {
  width: 20%;
}

.sektioner-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: 5vh;
  padding: 2vh 0;
  background-color: var(--card-bg);
}

.footer-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
}

.footer-detail img {
  width: 10vh;
  transition: ease-in-out 0.1s;
}

.footer-detail img:hover {
  scale: 110%;
}

#modpack-namn {
  margin-bottom: 1vh;
}

.listor {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul {
  margin-top: 3vh;
}

ul h2 {
  margin-bottom: 0.5vh;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5vh;
}

li #spelare:hover, #file-download:hover {
  color: var(--highlight-color);
}

li p {
  margin-left: 0.5vw;
}

.detaljer-lista {
  background-color: var(--card-bg);
  padding: 5vw;
  width: 70vw;
  border-radius: 20px;
}

.detaljer-lista img {
  width: 30px;
}

#download-header {
  margin: 1vh 0;
}

.portfolio h1 {
  font-size: 36px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 60px;
  max-width: 80%;
  margin: auto;
}

.portfolio-grid img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid var(--border-muted);
}

.portfolio-grid img:hover {
  border: 2px solid var(--white);
}

.downloads {
  width: 15%;
}

/*PORTFOLIO-POPUP*/
#imagepopup {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  justify-content: center;
  align-items: center;
}

.popup-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  z-index: 998;
}

.popup-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: white;
  cursor: pointer;
  user-select: none;
  padding: 0 20px;
  z-index: 999;
}

.popup-arrow-left {
  left: 10px;
}

.popup-arrow-right {
  right: 10px;
}

/* 404 */
.error-404 {
  max-width: 100%;
}

.four-o-four-flex, .four-o-four-karaktärer-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.four-o-four-flex {
  justify-content: center;
}

.four-o-four-karaktärer-flex {
  justify-content: space-evenly;
}

.four-o-four-flex img {
  width: 35%;
}

.four-o-four-flex p {
  font-size: 8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#four-o-four-beskrivning {
  margin-top: 2vh;
  text-align: center;
}

.four-o-four a {
  text-decoration: underline;
}

.four-o-four a:hover {
  color: var(--highlight-color);
}

.four-o-four-karaktärer-flex img {
  margin-top: 5vh;
  height: 30vh;
}

#error-title {
  margin-top: 20vh;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .listor {
    flex-direction: row;
  }

  .detaljer-lista {
    padding: 2vw;
    width: 25vw;
  }

  #download-header-civitascraft {
    text-align: center;
  }

  .modpack-cards, .ovrigt-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .ovrigt-cards {
    margin: 0 60px;
  }

  .civitas-other {
    grid-column: span 1;
  }

  .four-o-four-flex p {
    font-size: 20rem;
  }

  .four-o-four h1 {
    font-size: 36px;
  }

  #four-o-four-beskrivning {
    margin: 2vh auto;
    max-width: 80%;
    font-size: 24px;
  }

  .four-o-four-karaktärer-flex img {
    margin-top: 5vh;
    height: 30vh;
  }
}

@media (min-width: 1025px) {
  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .listor {
    flex-direction: row;
  }

  .detaljer-lista {
    padding: 1vw;
    width: 15vw;
  }

  .modpack-cards {
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
  }

  .ovrigt-cards {
    margin: auto;
  }

  #mimic-1, #mimic-2 {
    display: flex;
  }

  .civitas-other {
    grid-column: 2 / span 1;
  }

  .four-o-four-flex img {
    width: 15%;
  }

  #four-o-four-beskrivning {
    font-size: 16px;
  }
}