<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Servrar | Team Civitas</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='img/logotypes/team-civitas/Team Civitas Sleek Cut.png') }}" type="image/webp" />
</head>

<body>

    <!-- NAVIGATION -->
    {% include 'templates/partial/navbar.html' %}

    <!--Tillbaka-knapp-->
    <a href="/" id="tillbaka">‹</a>

    <!-- MAIN CONTENT -->
    <main>
        <header class="header-content">
            <h1 class="margin-above-title">SERVRAR</h1>
            <p class="margin-beneath-description">Här finns flera olika Civitas-servrar listade bortom modpack-serien!</p>
        </header>

        <section>
            <div class="center-cards">
                <div class="cards">

                    <div class="card">
                        <a href="/servrar/civitascraft">
                            <img draggable="false"
                                src="{{ url_for('static', filename='/img/logotypes/team-civitas-classic/Team Civitas 2023-2025.png') }}"
                                alt="Civitascraft">
                            <div class="border-top">
                                <h3>Civitascraft</h3>
                                <p class="not-yet-available">Sidan är under konstruktion</p>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="/servrar/civitas-smp">
                            <img draggable="false"
                                src="{{ url_for('static', filename='img/logotypes/smp/civitas_smp.png') }}"
                                alt="Civitas SMP">
                            <div class="border-top">
                                <h3>Civitas SMP</h3>
                                <p class="not-yet-available">Sidan är under konstruktion</p>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="/servrar/pre-civitas">
                            <img draggable="false" id="grayscale-img"
                                src="{{ url_for('static', filename='/img/logotypes/team-civitas-classic/Team Civitas 2023-2025.png') }}"
                                alt="Pre-Civitas">
                            <div class="border-top">
                                <h3>Pre-Civitas</h3>
                                <p class="not-yet-available">Sidan är under konstruktion</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    {% include 'templates/partial/footer.html' %}

</body>

</html>