@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


@keyframes scroll-bg {
    from {
        background-position: 0 -250px;
    }

    to {
        background-position: -2480px -250px;
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    overflow-y: scroll;
}

:root {
    --primary-color: #ffffff;
    --background-color: #0D1114;
    --background-secondary-color: #050708;
    --highlight-color: #41BFFF;

    --border-radius: 1rem;
}

body {
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 60%;
    margin: 0 auto;
    padding-top: 70px;
}

.heading {
    font-size: 2rem;
    font-family: 'Archivo Black', sans-serif;
    color: var(--primary-color);

    margin-bottom: 1vh;
}

.heading-left,
.subheading-left {
    text-align: left;
}

.heading-center,
.subheading-center {
    text-align: center;
}

p {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.subheading {
    font-size: 1.5rem;
    font-family: 'Archivo Black', sans-serif;
    color: var(--primary-color);

    margin-bottom: 1vh;
}