@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lexend:wght@100..900&family=Nabla&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

body {
    background-color: #0D1114;
}

header {

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
    max-width: 80%;
    
    margin: auto;
    margin-bottom: 5vh;
}

h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
    color: #fff;

    text-align: center;
}

header p,
footer p {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;

    text-align: center;
    max-width: 100%;
}

header img {
    width: 20%;
}

#tillbaka {
    position: fixed;
    top: 1vh;
    left: 1vw;
    width: 50px;
}


.modpack-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /*Varje kolumn är minst 200px; repeterar så många gånger som de får plats*/
    gap: 60px;
    max-width: 1000px;
    /*Ser till att griden är max 1200 pixlar bred oavsett*/

    text-align: center;
    margin: 0 8vw;
}

.modpack {
    display: flex;
    flex-direction: column;
    background-color: #00000090;

    border-radius: 20px;
    padding: 5%;

    transition: ease-in-out 0.15s;
}

.modpack:hover {
    transition: ease-in-out 0.15s;
    background-color: #70707050;
}

.modpack-inforuta {
    border-top: solid 2px #fff;

}

.modpack img {
    width: 100%;
    margin-bottom: 1vh;
}

.modpack h2 {
    margin-top: 1vh;
    color: #fff;
    margin-bottom: 1vh;
}

.modpack p {
    color: #fff;
}

.modpack-mimic {
    display: flex;
    flex-direction: column;
    background-color: #00000090;

    border-radius: 20px;
    padding: 5%;

    justify-content: center;
    align-items: center;
}

.sektioner {
    margin-top: 10vh;
    text-align: center;

    background-color: #00000090;
    padding: 2vh 0;

    transition: ease-in-out 0.15s;
}

.sektioner:hover {
    transition: ease-in-out 0.15s;
    background-color: #70707050;
}

.sektioner img {
    width: 20%;
}

.sektioner-flex {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.sektioner h1 {
    font-size: 100px;
}

footer {
    margin-top: 5vh;
    padding: 2vh 0;
    background-color: #00000090;
}

.footer-detail {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-bottom: 1vh;
}

.footer-detail img {
    width: 10vh;
    transition: ease-in-out 0.1s;
}

.footer-detail img:hover {
    scale: 110%;
    transition: ease-in-out 0.1s;
}

/************************************************************************************************************/

#modpack-namn {
    margin-bottom: 1vh;
}

.listor {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul {
    margin-top: 3vh;
}

ul h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;

    margin-bottom: 0.5vh;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5vh;
}

li #spelare:hover, #file-download:hover {
    color: #00ffff;
}

li p {
    margin-left: 0.5vw;
}

.detaljer-lista {
    background-color: #00000090;
    padding: 5vw;
    width: 70vw;

    border-radius: 20px;
}

.detaljer-lista img {
    width: 30px;
}

#download-header {
    margin: 1vh 0;
}

.portfolio h1 {
    font-size: 36px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
    max-width: 80%;
    /*Ser till att griden är max 1200 pixlar bred oavsett*/
    margin: auto;
    /*Centrerar alla produkter till mitten av skärmen*/
}

.portfolio-grid img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #00000090;
}

.portfolio-grid img:hover {
    border: 2px solid #fff;
}

.downloads {
    width: 15%;
}

/*******************************************
*              MEDIA QUERIES               *
*******************************************/

/*TABLET*/
@media (min-width: 768px) {
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .listor {
        flex-direction: row;
    }

    .detaljer-lista {
        padding: 2vw;
        width: 25vw;
    }

    .modpack-cards {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 8vw;
    }
}

/*DESKTOP*/
@media (min-width: 1025px) {
    .portfolio-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .listor {
        flex-direction: row;
    }

    .detaljer-lista {
        padding: 1vw;
        width: 15vw;
    }

    .modpack-cards {
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
    }
}