<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Civitas</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="shortcut icon" href="../static/img/modpacks/civitas_main.webp" type="image/x-icon">
</head>

<body id="error-404">
    <section class="container-404">
        <div class="four-o-four">

            <!--Titel-->
            <h1 id="error-title">Woopsies!</h1>

            <!--Beskrivning-->
            <p id="four-o-four-beskrivning">Det verkar som att den här sidan inte finns ännu. Klicka <a href="/">här</a> för att gå tillbaka till en mer säker plats!</p>
            
            <!--Skin-->
            <div class="four-o-four-karaktärer-flex">
                <img id="elf_oliver" src="https://starlightskins.lunareclipse.studio/render/cheering/Elf_Oliver/full" draggable="false"
                    alt="Elf_Oliver-karaktär">
                <img id="danteminecraft"
                    src="https://starlightskins.lunareclipse.studio/render/relaxing/DanteMinecraft/full" draggable="false"
                    alt="DanteMinecraft-karaktär">
            </div>
        </div>
    </section>
</body>

</html>