<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Revolution | Team Civitas</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/modpacks/civitas_create_revolution.webp') }}"
        type="image/x-icon">
    <script type="module" src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <!-- NAVIGATION -->
    {% include 'templates/partial/navbar.html' %}

    <!--Tillbaka-knapp-->
    <a href="/modpacks" id="tillbaka">‹</a>

    <!-- MAIN CONTENT -->
    <header class="header-content">
        <img src="{{ url_for('static', filename='img/modpacks/civitas_create_revolution.webp') }}"
            alt="Civitas: create_revolution-logotyp">
        <h1 class="margin-above-title">CIVITAS: CREATE REVOLUTION</h1>
        <p class="margin-beneath-description">Civitas: Create Revolution var det andra Create-baserade modpacket i
            Civitastrilogin. Med nya funktioner som monorails, rymdraketer (från Ad Astra) och flertalet nya spelare
            hoppades det på ett långvarigt modpack, men så blev tyvärr inte fallet.</p>
    </header>

    <section>
        <div class="center-cards">
            <div class="ind-modpack-listor">
                <!--Card 1-->
                <div class="card">
                    <h3 class="text-align-left">Spelare:</h3>
                    <ul class="card-lista">
                        <li><img src="https://starlightskins.lunareclipse.studio/render/default/DanteMinecraft/bust"
                                alt="Spelare">
                            <a href="https://namemc.com/profile/DanteMinecraft">
                                <p id="spelare">DanteMinecraft 💎</p>
                            </a>
                        </li>
                        <li><img src="https://starlightskins.lunareclipse.studio/render/default/Zcloak/bust"
                                alt="Spelare">
                            <a href="https://namemc.com/profile/Zcloak">
                                <p id="spelare">Zcloak 💎</p>
                            </a>
                        </li>
                        <li><img src="https://starlightskins.lunareclipse.studio/render/default/Elf_Oliver/bust"
                                alt="Spelare">
                            <a href="https://namemc.com/profile/Elf_Oliver">
                                <p id="spelare">Elf_Oliver</p>
                            </a>
                        </li>
                        <li><img src="https://starlightskins.lunareclipse.studio/render/default/Lulle2345/bust"
                                alt="Spelare">
                            <a href="https://namemc.com/profile/Lulle2345">
                                <p id="spelare">Lulle2345</p>
                            </a>
                        </li>
                        <li><img src="https://starlightskins.lunareclipse.studio/render/default/Farligtt/bust"
                                alt="Spelare">
                            <a href="https://namemc.com/profile/Farligtt">
                                <p id="spelare">Farligtt</p>
                            </a>
                        </li>
                        <li><img src="https://starlightskins.lunareclipse.studio/render/default/NoobElis/bust"
                                alt="Spelare">
                            <a href="https://namemc.com/profile/NoobElis">
                                <p id="spelare">NoobElis</p>
                            </a>
                        </li>
                        <li><img src="https://starlightskins.lunareclipse.studio/render/default/TwitchErik71/bust"
                                alt="Spelare">
                            <a href="https://namemc.com/profile/TwitchErik71">
                                <p id="spelare">TwitchErik71</p>
                            </a>
                        </li>
                        <li><br>💎-Symbolen visar vem/vilka som har skapat och satt ihop modpacket.</li>
                    </ul>
                </div>

                <!--Card 2-->
                <div class="card">
                    <h3 class="text-align-left">Info:</h3>
                    <ul class="card-lista">
                        <li><img src="{{ url_for('static', filename='img/details/forge.webp') }}" alt="Forge-logotyp">
                            <p>Forge</p>
                        </li>
                        <li><img src="https://feedback.minecraft.net/hc/theming_assets/01HZH4GFS6HZFCFWQPVZT51JSB"
                                alt="Minecraft-logotyp">
                            <p>Minecraft 1.19.2</p>
                        </li>
                        <li><img src="https://wiki.createmod.net/create-icon-large.webp" alt="Create-logotyp">
                            <p>Create 5.1.0+</p>
                        </li>
                    </ul>
                </div>

                <!--Card 3-->
                <div class="card">
                    <div class="text-align-left">
                        <h3>Modpack:</h3>
                        <div class="display-flex-row">
                            <img id="download-symbol" src="{{ url_for('static', filename='img/download.webp') }}"
                                alt="Ladda ner">
                            <p><a id="file-download"
                                    href="{{ url_for('static', filename='files/The Civitas Stories Create Revolution-1.4.4.zip') }}"
                                    download>Create Revolution 1.4.4</a></p>
                        </div>
                        <h3>Världar:</h3>
                        <div class="display-flex-row">
                            <img id="download-symbol" src="{{ url_for('static', filename='img/download.webp') }}"
                                alt="Ladda ner">
                            <p>Saknar världsnedladdning</p>
                        </div>
                    </div>
                </div>
    </section>

    <section class="portfolio">
        <h1 class="header-content">Portfolio</h1>
        <div class="portfolio-grid" id="portfolio-bilder">
        </div>
    </section>

    <!-- FOOTER -->
    {% include 'templates/partial/footer.html' %}

</body>

</html>