<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overdrive | Team Civitas</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/modpacks/civitas_overdrive.webp') }}"
        type="image/x-icon">
    <script type="module" src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <!-- NAVIGATION -->
    {% include 'templates/partial/navbar.html' %}

    <!--Tillbaka-knapp-->
    <a href="/modpacks" id="tillbaka">‹</a>

    <!-- MAIN CONTENT -->
    <header class="header-content">
        <img src="{{ url_for('static', filename='img/modpacks/civitas_overdrive.webp') }}"
            alt="Civitas: overdrive-logotyp">
        <h1 class="margin-above-title">CIVITAS: Overdrive</h1>
        <p class="margin-beneath-description">Obs! Detta modpacket har ännu inte släppts och information på denna sidan
            kan komma att ändras</p>
        <p>Civitas: Overdrive är det första Civitas-modpacket med Create-version 6.0.X. Modpacket är en påbyggd version
            av Civitas: overdrive, där vissa moddar lagts till och visa tagits bort. Dessutom använder Civitas:
            Overdrive modden Axiom som klienthjälpmedel istället för WorldEdit, vilket utökar spelares chanser till att
            vara kreativa.</p>
    </header>

    <section>
        <div class="center-cards">
            <div class="ind-modpack-listor">
                <!--Card 1-->
                <div class="card">
                    <h3 class="text-align-left">Spelare:</h3>
                    <ul class="card-lista">
                        <li><img src="https://starlightskins.lunareclipse.studio/render/default/DanteMinecraft/bust"
                                alt="Spelare">
                            <a href="https://namemc.com/profile/DanteMinecraft">
                                <p id="spelare">DanteMinecraft 💎</p>
                            </a>
                        </li>
                        <li><img src="https://starlightskins.lunareclipse.studio/render/default/Elf_Oliver/bust"
                                alt="Spelare">
                            <a href="https://namemc.com/profile/Elf_Oliver">
                                <p id="spelare">Elf_Oliver 💎</p>
                            </a>
                        </li>
                        <li><br>💎-Symbolen visar vem/vilka som har skapat och satt ihop modpacket.</li>
                    </ul>
                </div>

                <!--Card 2-->
                <div class="card">
                    <h3 class="text-align-left">Info:</h3>
                    <ul class="card-lista">
                        <li><img src="{{ url_for('static', filename='img/details/forge.webp') }}" alt="Forge-logotyp">
                            <p>Forge</p>
                        </li>
                        <li><img src="https://feedback.minecraft.net/hc/theming_assets/01HZH4GFS6HZFCFWQPVZT51JSB"
                                alt="Minecraft-logotyp">
                            <p>Minecraft 1.20.1</p>
                        </li>
                        <li><img src="https://wiki.createmod.net/create-icon-large.webp" alt="Create-logotyp">
                            <p>Create 6.0.0+</p>
                        </li>
                    </ul>
                </div>

                <!--Card 3-->
                <div class="card">
                    <div class="text-align-left">
                        <h3>Modpack:</h3>
                        <div class="display-flex-row">
                            <img id="download-symbol" src="{{ url_for('static', filename='img/download.webp') }}"
                                alt="Ladda ner">
                            <p>Saknar modpacks-nedladdning</a></p>
                        </div>
                        <h3>Världar:</h3>
                        <div class="display-flex-row">
                            <img id="download-symbol" src="{{ url_for('static', filename='img/download.webp') }}"
                                alt="Ladda ner">
                            <p>Saknar världsnedladdning</p>
                        </div>
                    </div>
                </div>
    </section>

    <section class="portfolio">
        <h1 class="header-content">Portfolio</h1>
        <div class="portfolio-grid" id="portfolio-bilder">
        </div>
    </section>

    <!-- FOOTER -->
    {% include 'templates/partial/footer.html' %}

</body>

</html>